.modal__help-and-feedback {
    font-family: Roboto, Helvetica Neue, sans-serif;
    background: #fff;
    color: #000;
    min-width: 240px;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    top: 20%;
    position: absolute;
    overflow: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
    opacity: 0;
    border-radius: 4px;
    -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
    transition: all .4s cubic-bezier(.25,.8,.25,1);

    &.open {
        position: relative;
        opacity: 1;
        -webkit-transform: translate(0,0) scale(1);
        transform: translate(0,0) scale(1);
        width: 40%;
    }

    .modal__toolbar {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row;
        position: relative;
        z-index: 2;
        font-size: 20px;
        min-height: 64px;
        max-height: 64px;
        width: 100%;
        padding: 0 16px;
        background-color: inherit;
        
        h1 {
            font-size: 20px;
            letter-spacing: .005em;
            font-weight: 400;
            display: inline-block;
            margin: 0;
            line-height: 64px;
        }
    }
}

